<nav>
  <button mat-button id="profile" [ngClass]="{selected: selected === 'profile'}" (click)="navigate('profile')">
    <mat-icon>person_outline</mat-icon>
    <span>Profile</span>
  </button>

  <button mat-button id="chat" [ngClass]="{selected: selected === 'chat'}" (click)="toggleChat()">
    <mat-icon>chat_bubble_outline</mat-icon>Chat
  </button>

  <button mat-button id="upload" [ngClass]="{selected: selected === 'upload'}" (click)="upload()">
    <mat-icon>add</mat-icon>
    <span>Upload Picture</span>
  </button>

  <button mat-button id="search" [ngClass]="{selected: selected === 'search'}" (click)="navigate('search')">
    <mat-icon>search</mat-icon>
    <span>Search</span>

  </button>

  <button mat-button id="discover" [ngClass]="{selected: selected === 'discover'}" (click)="navigate('discover')">
    <mat-icon>home</mat-icon>
    <span>Discover</span>
  </button>
  <app-chat-overlay *ngIf="showChat"></app-chat-overlay>
</nav>