nav {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 1em;
    gap: 80px;

}

.selected {
    background: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
    border-radius: 20px;
    border: none;
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: white;
}

button {
    border: none;
    background-color: white;
    border-radius: 20px;
    box-shadow: none;
    transition: box-shadow 0.3s
}

button:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
