<nav>
  <button mat-button id="profile" [class]="selected === 'profile' ? 'selected' : ''" (click)="navigate('profile')">
    <mat-icon>person_outline</mat-icon>Profile
  </button>

  <button mat-button id="chat" [class]="selected === 'chat' ? 'selected' : ''" (click)="toggleChat()">
    <mat-icon>chat_bubble_outline</mat-icon>Chat
  </button>

  <button mat-button id="upload" [class]="selected === 'upload' ? 'selected' : ''" (click)="upload()">
    <mat-icon>add</mat-icon>Upload Picture
  </button>

  <button mat-button id="search" [class]="selected === 'search' ? 'selected' : ''" (click)="navigate('search')">
    <mat-icon>search</mat-icon>Search
  </button>

  <button mat-button id="discover" [class]="selected === 'discover' ? 'selected' : ''" (click)="navigate('discover')">
    <mat-icon>home</mat-icon>Discover
  </button>
  <app-chat-overlay *ngIf="showChat"></app-chat-overlay>
</nav>